<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-item>
      <ion-label>Dark theme</ion-label>
      <ion-toggle slot="end" (ionChange)='toggleTheme($event)'></ion-toggle>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
      <ion-toggle></ion-toggle>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page">
    Hola estoy escribiendo
    <!-- <ion-item>
      <ion-label>Dark theme</ion-label>
      <ion-toggle slot="end" (ionChange)='toggleTheme($event)'></ion-toggle>
    </ion-item> -->
  </app-explore-container>
</ion-content>
