<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Games</ion-title>

  </ion-toolbar>
  <!-- <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-item>
      <ion-label>Dark theme</ion-label>
      <ion-toggle slot="end" (ionChange)='toggleTheme($event)'></ion-toggle>
    </ion-item>
  </ion-toolbar> -->
</ion-header>

<ion-content class="main-content">
  <ion-list>
    <!-- Modo oscuro -->
    <ion-item lines="full">
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>
        Modo oscuro
      </ion-label>
      <ion-toggle id="themeToggle" slot="end" (ionChange)='toggleTheme($event)'></ion-toggle>
    </ion-item>
    <!-- Buscador -->
    <ion-searchbar animated [(ngModel)]="searchWord" (ionCancel)="getGames()" (change)="onChangeSearch($event)"></ion-searchbar>
    <!-- Juegos -->
    <ion-item *ngFor="let game of games" lines="full">
      <ion-thumbnail slot="start">
        <ion-img [src]="game.image_url"></ion-img>
      </ion-thumbnail>
      <ion-label>
        {{ game.name }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>


