ion-title {
  padding: 0px 0px;
}


img {
  max-height: 450px;
}

.addButton {
  padding: 10px;
  border: 1px solid #80475E;
  background-color: #80475E;
  border-radius: 8px;
}


.information p {
  margin-top: 10px;
}
