<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-card *ngIf="information">
   <ion-card-header>
     <ion-card-title>
       {{ information.name }}
     </ion-card-title>
   </ion-card-header>

   <button [disabled]="esFavorito > -1" (click)="addGame()" ion-button icon-start>
    <ion-icon name="list-outline"></ion-icon>
    Añadir a mi lista
  </button>
 </ion-card>
</ion-content>
